html {
    height: 100%;
}
body {
    font-size: 14px;
    line-height: 1.50;
    font-family: "Microsoft YaHei", "微软雅黑", "宋体", "黑体", sans-serif;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    padding-top: 66px;
    height: 100%;
}
.m-b-lg {
    margin-bottom: 20;
}
.m-t-lg {
    margin-top: 20px;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 300;
}
h1 {
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.1em;
    margin-bottom: 17px;
}
h2 {
    font-size: 24px;
    line-height: 24px;
    font-style: normal;
    padding: 0;
    margin-bottom: 17px;
    color: #888;
}
h2.subTitle {
    font-size: 24px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 0;
    margin-bottom: 70px;
    text-align: center;
}
h2.subTitle:after {
    display: block;
    height: 1px;
    width: 100px;
    content: '';
    bottom: 53px;
    position: absolute;
    margin-left: -50px;
    left: 50%;
    background-color: #00a3d9;
}
h3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 14px;
    font-weight: 600;
    letter-spacing: -0.06em;
}
h4 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 6px;
    font-weight: bold;
}
h5 {
    font-style: normal;
    font-size: 1.116em;
    line-height: 1.5714em;
    margin-bottom: 0.916em;
}
h6 {
    font-style: italic;
    margin-bottom: 2em;
    font-size: 1em;
    line-height: 1em;
}
p,
ul {
    margin-top: 0;
    margin-bottom: 12px;
}
strong {
    font-weight: bold
}
a {
    color: #00a3d9;
}
a:hover,
.active a {
    color: #00a3d9;
}
a:link,
a:visited {
    text-decoration: none;
}
a:hover,
a:active {
    text-decoration: underline;
}
li a:hover {
    text-decoration: none;
}

/*  GENERAL  */
.slice {
    padding: 33px 0;
    background-color: #fff;
}
/*** buttons ***/

.btn {
    text-transform: uppercase;
    padding: 15px 20px;
    font-size: 18px;
    background: #00a3d9;
    color: #fff;
    border: 2px solid #fff;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.btn:hover {
    color: #00a3d9;
    border-color: #eee;
    text-shadow: none;
    background: #fff
}
.btn-lg {
    padding: 18px 23px;
    font-size: 22px;
}
.btn-sm {
    padding: 8px 13px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #fff;
}
.btn-xs {
    padding: 4px 7px;
    font-size: 10px;
    border-radius: 4px;
}

/*color1*/
.color1,
.slice.color1,
.ctaBox.color1 {
    background-color: #F7F7F7;
    color: #444;
}

/*color2*/
.color2,
.slice.color2,
.ctaBox.color2 {
    background-color: #00a3d9;
    color: #fff;
}

/* HEADER */
#mainHeader {
    background-color: white;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
    padding-top: 20px;
    padding-left: 0;
}

/* MAIN MENU */

.navbar {
    margin-bottom: 0;
}
.navbar-default {
    background: none;
    border: none;
}
.nav.nav-tabs {
    margin-bottom: 22px;
}
.btn:active,
.btn.active {
    -webkit-box-shadow: none;
    box-shadow: none
}
.navbar-default .navbar-toggle {
    margin-top: 22px;
}
.navbar-nav > li > a {
    display: block;
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    outline: none;
}
.navbar-nav > li > a:hover i,
.navbar-nav > li.active > a i {
    color: #fff;
}
#mainHeader .pull-right {
    float: none !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: #00a3d9;
    color: #fff;
}

/* 1, ad */
#ad {
    padding-top: 44px;
    background-image: url('../images/bg_01.jpg');
    background-size: cover;
    background-color: #001a48;
}
@media(max-width:1200px) {
    .img-schedule {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

/*** 2, call to actioon ***/

.boxH {
    padding: 30px 0;
}

.ctaBox {
    padding: 33px 11px;
}
.ctaBoxFullwidth {
    padding: 0;
}
.ctaBox a {
    margin-top: 22px;
}
.ctaBox h1 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0;
    padding: 0;
    border: none;
    text-align: left;
    letter-spacing: normal;
    text-transform: none;
    font-weight: 300;
}

/* 3, Organization  */
.boxFeature {
    margin-bottom: 33px;
}
.boxFeature i {
    color: #00a3d9;
}
.iconBig {
    font-size: 66px;
}
.font-dark {
    color: #333;
}

/* 4, news */
.newsText {
    padding: 20px 20px 25px 20px;
    margin-bottom: 22px;
}
.newsText h3 {
    margin-bottom: 8px;
}
.date {
    font-size: 12px;
    line-height: 12px;
    font-style: italic;
    opacity: 0.6;
}
.newsText p {
    font-size: 13px;
}
#news img:hover {
    opacity: 0.7;
}

.newsText a {
    color: #fff !important;
}
/* 5, footer */
footer {
    padding: 44px 0;
    color: #5f5e5e;
    background: #e3e3e3;
}
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer ul li {
    line-height: 25px;
    padding-left: 1.5em;
    text-indent: -1em;
}
footer ul li::before {
    content: "• ";
    padding-right: 5px;
    color: #00a3d9;
    font-size: 18px;
}
footer ul li a {
    color: #333;
}
#footerLogo {
    margin-bottom: 22px;
}
.footer-info {
    padding: 18px;
    font-size: 13px;
    text-align: center;
    background-color: #00a3d9;
    color: #fff;
}
