#login{
  @include animation;
  height: 100vh;
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Form Module */
.form-module {
  position: relative;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid $orange-color;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.form-module .toggle {
  position: absolute;
  top: -0;
  right: -0;
  background: $orange-color;
  width: 36px;
  height: 36px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}

.form-module .form {
  padding: 20px 20px 0px 20px;
}
.form-module .form .error{
  margin-bottom: 10px;
  color: red;
}
.form-module h2 {
  font-weight:bold;
  margin: 0 0 20px;
  color: $deep-grey-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 5px 20px 5px 20px;
  box-sizing: border-box;
  color: #666666;
}
